// This is where we will put global styles and change variable values

// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0, 100, 80);
$active: #cff8ef;
$light: #f8f8f8;
$listGray:#5f5f5f;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $turquoise;


// Update some of Bulma's component variables

$control-border-width:2px;
$input-border-color:transparent;
$input-shadow:none;

//update elements

html{
  background: linear-gradient(to right top,$turquoise,$green);
}

html,body{
  height: 100%;
}

@mixin  centered() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.centered-item{
  @include centered();
  .modal-box{
    padding: 2%;
  background: white;
  border-radius: 10px;
  max-width: 500px;
  max-height: 200px;
  width: 100%;
  .buttons{
    margin-top:2%;
  }
  }
 }
